.select {
    width: 100%;
    padding: 5px;
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    border-bottom: 4px solid #91dc5a;
    font-size: 17px;
    font-family: inherit;
    color: #5e5e5e;
    outline: none;
    background: transparent;
    position: relative;
}
.select-wrap {
    width: 31.3%;
    margin-right: 1%;
    margin-left: 1%;
    float: left;
    padding-top: 15px;
    position: relative
}
.select-wrap:after {
    content: "\25BC";
    position: absolute;
    top: 26px;
    right: 0px;
    font-size: 12px;
    height: 10px;
    color: #5e5e5e;
}

.canvas-wrapper {
    background: #e6e6e6;
}