.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #91dc5a;
}

.App-intro {
  font-size: large;
}

.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #000;
  color: #fff;
}

.bottom-sec {
  padding: 30px;
  border-top: 1px solid #ddd;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 13px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
